@import url('https://fonts.googleapis.com/css?family=Roboto');

*,* ::before,* ::after
{
     box-sizing: border-box;
}

html
{
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
   font-weight: 100;
   text-align: center;
}

body
{
    height: 100%;
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: #3498DB;
}

section
{
     margin:0% 20% 0 20%;
}

section article
{
   text-align: center;
   display: block;
   overflow: hidden;
   border-top: 2px solid white;
   padding: 5% 5%;
}

.PrivacyPolicy {
   text-align: start;
}

.TextSubtitle1 {
   font-size: 24px;
}

section article h2
{
   margin-top: 0;
   margin-bottom: 5%;
}

article img
{
   margin: auto;
   display: block;

   border-radius: 2px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#appstore
{
   display:inline-block;
   /*overflow:hidden;*/
   background: "https://linkmaker.itunes.apple.com/assets/shared/badges/de-de/appstore-lrg.svg"  no-repeat;
   width:135px;
   height:40px;
   background-size:contain;
}

#store_links
{
   margin-bottom: 5%;
}

.apple_link
{
      display:inline-block;
      vertical-align: middle;
      width: 20%;
      min-width: 170px;
      box-shadow: none;
}

.google_link
{

   display:inline-block;
   vertical-align: middle;
   width: 25%;
   min-width: 200px;
   box-shadow: none;
}

footer
{
   text-align: center;
   padding: 2% 0;
   border-top: 2px solid white;
}





   @media screen and (max-width: 1000px){
      section
      {
           margin:0% 5% 0 5%;
      }
      article img
      {
         width: 60%;
      }

      .storelink
      {
         width: 30%;
         min-width: 150px;
      }

   }

   @media screen and (max-width: 568px){
      section
      {
           margin:0% 5% 0 5%;
      }
      article img
      {
         width: 100%;
         min-width: 150px;
      }

      .storelink
      {
         width: 50%;
      }

   }

   @media screen and (max-width: 480px) {
      section
      {
           margin:0% 5% 0 5%;
      }
      article img
      {
         width: 100%;
         min-width: 150px;
      }

      .storelink
      {
         width: 50%;
      }
   }

}
