@import url('https://fonts.googleapis.com/css?family=Roboto');

*,* ::before,* ::after
{
     box-sizing: border-box;
}

html
{
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}

body
{
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #00ADB5;
}

section
{
     margin: auto;
}
